@model UserEditViewModel
@{
    ViewData["Title"] = "Редактирование профиля";
}

<div class="container">
    <h1>Редактировать профиль</h1>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <div class="text-center">
                <img src="@Model.AvatarImageUrl" class="avatar img-circle" alt="@Model.AvatarImageUrl">
                <h5 style="margin:10px">Загрузить фото..</h5>
                <input id="upload-file-type" type="hidden" value="avatar" />
                <input type="hidden" name="model" value='@Json.Serialize(Model)' />
                <input class="form-control" id="user-avatar" type="file" style="height:auto"> <br />
                <input id="upload-avatar" type="button" value="Загрузить" />
            </div>
        </div>
        <script src="~/js/upload-avatar-ajax.js"></script>
        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            
            <div asp-validation-summary="All" class="alert alert-warning"></div>
            <div class="validation" asp-validation-summary="ModelOnly" />
            <h3>Персональное инфо</h3>

            <form asp-action="Edit" asp-controller="User" class="form-horizontal" method="post" role="form">
                <input type="hidden" asp-for="AvatarImageUrl" value="@Model.AvatarImageUrl" />
                <input type="hidden" asp-for="BackgroundImageUrl" value="@Model.BackgroundImageUrl" />
                <div class="form-group">
                    <label class="col-lg-3 control-label" asp-for="Email">Email:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" asp-for="Email">
                    </div>
                    <span asp-validation-for="Email" />
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" asp-for="UserName">Username:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" asp-for="UserName">
                    </div>
                    <span asp-validation-for="UserName" />
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" asp-for="NewPassword">New password:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="password" asp-for="NewPassword">
                    </div>
                    <span asp-validation-for="NewPassword" />
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" asp-for="OldPassword">Current password:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="password" asp-for="OldPassword">
                    </div>
                    <span asp-validation-for="OldPassword" />
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input class="btn btn-primary" value="Save Changes" type="submit">
                        <span></span>
                        <input class="btn btn-default" value="Cancel" type="reset">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>