@model Movie

<div class="col-md-2 w3l-movie-gride-agile">
    <a asp-action="Title" asp-controller="Movie" asp-route-titleId="@Model.Id" class="hvr-shutter-out-horizontal">
        <img src="http://image.tmdb.org/t/p/w185/@Model.PosterPath" title="@Model.Title" class="img-responsive" alt="@Model.Title" />
        <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
    </a>
    <div class="mid-1">
        <div class="w3l-movie-text" style="min-height:60px">
            <h6><a asp-action="Title" asp-controller="Movie" asp-route-titleId="@Model.Id">@Model.Title</a></h6>
        </div>
        <div class="mid-2">

            <p>@Model.ReleaseDate?.Year</p>
            @Html.Partial("StarsBlock", Model.VoteAverage)
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="ribben two">
        <p>NEW!</p>
    </div>
</div>