@model IEnumerable<Movie>

@{
    ViewData["Title"] = "List";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PosterPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Popularity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genres)
            </th>
                
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model) {
            <tr>
                <td>
                    <img src="http://image.tmdb.org/t/p/original/@movie.PosterPath" alt="Alternate Text" width="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.Popularity)
                </td>
                <td>
                    @Html.Partial("GenreLinkList", movie.Genres)
                </td>
            </tr>
        }
    </tbody>
</table>
